{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'contact.message.delete.delete'|trans }}{% endblock %}
        {% block body %}
        <p>{{ 'contact.message.delete.message'|trans|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}