{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
{% block header %}
    {{ entity.createdAt|format_datetime('medium', 'short') }}
{% endblock %}

{% block body %}
    <ul class="list-unstyled">
    {% for key, data in entity.data %}
        <li><b>{{ ('contact.form.' ~ key)|trans }}</b>: {{ data|striptags|nl2br|raw }}</li>
    {% endfor %}
    </ul>
{% endblock %}

{% endembed %}
{% endblock %}