<script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('{{ google_recaptcha_site_key }}', {action: 'contact_form'}).then(function(token) {
        var recaptchaResponse = document.getElementById('recaptchaResponse');
        recaptchaResponse.value = token;
    });
});
</script>