{% if not formSubmitted %}
    {{ form_start(form, { 'attr' : {'data-ajax': true, 'replace-by-response': true}}) }}
        {% set buttons = form_widget(form.securityButton) %}
        {{ form_widget(form) }}
        {{ buttons|raw }}
    {{ form_end(form) }}
{% else %}
<div class="alert alert-success">{{ 'contact.form.success'|trans }}</div>
{% endif %}