{% extends '@TigrisBase/email/layout.html.twig' %}

{% block content %}
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p>
            {{ 'contact.email.new_message'|trans }}
            </p>
            <ul class="list-unstyled">
            {% for key, data in entity.data %}
                {% if entity.dataFormat(data) == 'datetime' %}
                <li><b>{{ ('contact.form.' ~ key)|trans }}</b>: {{ data|format_datetime('short', 'short') }}</li>
                {% else %}
                <li><b>{{ ('contact.form.' ~ key)|trans }}</b>: {{ data|striptags|nl2br|raw }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </td>
        {% if entity.email is not empty %}
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <a href="mailto:{{ entity.email }}">{{ "contact.email.reply_button"|trans }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        {% endif %}
    </tr>
</table>
{% endblock %}